@page "{id:int?}"
@model TCT.Pages.Terminals.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<head>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
            vertical-align: top;
        }
    </style>
</head>

<h1>Details</h1>

<div>
    <h4>Terminal</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Terminal.PartNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Terminal.PartNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Terminal.ManufacturerId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Terminal.Manufacturer.Name)
        </dd>
         <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Terminal.TermClassId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Terminal.TermClass.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Terminal.MaxAWG)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Terminal.MaxAWG)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Terminal.MidMaxAWG)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Terminal.MidMaxAWG)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Terminal.MidMinAWG)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Terminal.MidMinAWG)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Terminal.MinAWG)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Terminal.MinAWG)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Terminal.MaxInsulDiam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Terminal.MaxInsulDiam)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Terminal.StripLength)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Terminal.StripLength)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Terminal.DimFront)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Terminal.DimFront)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Terminal.DimRear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Terminal.DimRear)
        </dd>
@*         <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Terminal.Crimps)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Tool Id</th>
                </tr>
                @foreach (var item in Model.Terminal.Crimps)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tool.InternalId)
                        </td>
                    </tr>
                }
            </table>
        </dd> *@
    </dl>
</div>
    <body>
        @* <h1>@Model.Terminal.PartNo</h1> *@
        <h1>Tool Selection</h1>

        <table border="1">
            <thead>
                <tr>
                    <th>Internal ID</th>
                    <th>Manufacturer</th>
                    <th>Tool Type</th>
                    <th>Wire AWG</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var toolGroup in Model.Terminal.Crimps.GroupBy(c => c.ToolId))
                {
                    var tool = toolGroup.First().Tool;
                    <tr>
                        @* <td>@crimp.Tool.InternalId</td> *@
                        <td rowspan="@toolGroup.Count()">@tool.InternalId</td>
                        <td rowspan="@toolGroup.Count()">@tool.Manufacturer.Name</td>
                        <td rowspan="@toolGroup.Count()">@tool.EquipType.Name</td>
                        <td style="vertical-align: top;">@toolGroup.First().WireAWG</td>
                        

                            @* <table border="1">
                                <thead>
                                    <tr>
                                        <th>Crimp Data</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @* //@foreach (var crimp in tool.Crimps) *@
                                    @* {  *@
                                       @*  <tr>
                                            <td>@crimp.WireAWG</td>
                                        </tr> *@ 
                                    @* } *@
                                @* </tbody>
                            </table>
                        </td> *@
                    </tr>
                    @foreach (var crimp in toolGroup.Skip(1))
                    {
                        <tr>
                            @* <td></td> *@
                            <td>@crimp.WireAWG</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </body>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Terminal?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
